/* - events */
.events
{
	padding: 0 90px 0 136px;
}
.events ul > li
{
	position: relative;
	border-left: 2px solid #575757;
	padding-left: 85px;
	padding-bottom: 70px;
}
.events ul > li:last-child
{
	border-left-width: 0;
}
.events ul > li > strong
{
	width: 100px;
	height: 100px;
	border-radius: 50px;
	background-color: #575757;
	color: #fff;
	text-align: center;
	line-height: 100px;
	font-weight: lighter;
	position: absolute;
	top: -35px;
	left: -50px;
}
.events ul > li > strong > span
{
	font-size: 20px;
	line-height: 1.4em;
	display: inline-block;
	vertical-align: middle;
}
.cn .events ul > li > strong > span,
.jp .events ul > li > strong > span
{
	font-size: 16px;
}
.events ul > li > p
{
	line-height: 1.8em;
	font-size: 15px;
	margin-top: 5px;
}