/* Will be compiled down to a single stylesheet with your sass files */
html
{
	background: url(../images/bg.png);
	font: 75%/1.5 arial, sans-serif;
}
a
{
	text-decoration: none;
}

/* + Mover for Uninterruptedscroll */
.mover
{
	overflow-x: hidden;
	overflow-y: hidden;
}
.mover > ul
{
	word-break: keep-all;
	white-space: nowrap;
	letter-spacing: -4px;
}
.mover > ul > li
{
	line-height: 0;
	display: inline-block;
}
/* + Fancybox */
.fancybox
{
	display: block;
	cursor: pointer;
}

/* + header */
.page-header
{
	background: transparent url(../images/bg_beigepaper.png) center -147px repeat-x;	
}
.page-header > div
{
}
.page-header h1
{
	margin: 0 auto;
	display: inline-block;
	padding: 0 4px 14px 3px;
	background: transparent url(../images/shadow_logo.png) left bottom no-repeat;
}
.logo-bannici
{
	display: block;
	width: 148px;
	height: 150px;
	background: transparent url(../images/bg_logo.png) left top no-repeat;
	line-height: 0;
}
	/* - nav */
	.page-nav ul
	{
		display: inline-block;
		color: #939393;
	}
	.page-nav ul li
	{
		list-style-type: disc;
		list-style-position: inside;
		margin-left: 10px;
	}
	.page-nav ul li:first-child
	{
		list-style: none;
	}
	/* - mailto */
	.page-contact-mail a
	{
		color: #44a3d2;
	}
@media screen and (max-width: 480px) {
	.page-nav ul li
	{
		float: none;
		text-align: left;
	}
	.page-nav ul li:first-child
	{
		list-style-type: disc;
		list-style-position: inside;
	}
}

/* + footer */
.page-footer > .page-bottomline
{
	height: 8px;
	background: transparent url(../images/bg_beigepaper.png) center bottom repeat-x;
}
.page-footer > div
{
	background: rgba(0, 0, 0, .3);
	width: 1024px;
}
.page-footer-intro
{
	padding: 45px 50px;
}
	/* - contact */
	.contact > .contact-mail
	{
		padding-left: 48px;
		background: transparent url(../images/icon_mail.png) left center no-repeat;
	}
	.contact > .contact-mail a
	{
		color: #114f6e;
		word-break: break-all;
		word-wrap: break-word;
	}
	.contact > .contact-mail a strong
	{
		color: #44a3d2;
	}
	.contact > .contact-detail
	{
		color: #878787;
	}
	/* - about us */
	.aboutus
	{
		width: 35%;
		color: #878787;
	}
	/* - Friend links */
	.friendlinks
	{
		width: 100%;
		height: 115px;
		background: transparent url(../images/bg_beigepaper.png) center bottom repeat-x;
	}
@media screen and (max-width: 1024px) {
	.page-footer > div
	{
		width: 100%;
	}
}
@media screen and (max-width: 480px) {
	.page-footer > div
	{
		width: 100%;
	}
	.page-footer-intro
	{
		padding: 45px 15px;
	}
	.page-footer-intro section
	{
		float: none;
		width: 100%;
	}
}

/* + Content */
.page-content section
{
	margin-top: 30px;
}
.page-content section > h1
{
	color: #6c6c6c;
	margin-left: 50px;
}
@media screen and (max-width: 480px) {
	.page-content section > h1
	{
		margin-left: 15px;
	}
}
/* - big image */
.page-content section > div
{
	margin-top: 10px;
	width: 100%;
	height: 188px;
}















